@page
@model GalleryResults

<div id="gallery" class="@Html.ClassNames("grid sm:gap-2", AppCss.GetGridClass(Model.GridColumns ?? 5))">
@foreach (var artifact in Model.Artifacts.OrEmpty())
{
    <div v-on:click.prevent.stop="loadArtifact(@artifact.Id)">
        @await Html.PartialAsync("StaticArtifactImage", new ArtifactImageParams { Artifact = artifact })
    </div>
}
    <artifact-modal v-if="artifact" :artifact="artifact" v-on:selected="showArtifact" v-on:done="showArtifact(null)">
        <template #icons="artifact">
            <div class="p-2 relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                <div class="flex flex-col h-full justify-between">
                    <div class="flex justify-between flex-none">
                        <artifact-like-icon :artifact="artifact" v-on:changed="update"></artifact-like-icon>
                        <artifact-menu-icon :artifact="artifact" v-on:show-artifact-menu="artifactMenu=artifact"></artifact-menu-icon>
                    </div>
                    <artifact-explore-icon :artifact="artifact" v-on:changed="update"></artifact-explore-icon>
                </div>
            </div>
        </template>
        <template #contextmenu="artifact">
            <artifact-menu v-if="artifactMenu?.id === artifact.id" :artifact="artifactMenu" menu-class="justify-end"
                           v-on:changed="notifyChanged" v-on:done="artifactMenu=null" v-on:open="openDialog">
            </artifact-menu>
        </template>
    </artifact-modal>
    <artifact-dialogs :show="open" :artifact="artifact" v-on:done="closeDialog"></artifact-dialogs>
</div>

<script type="module">
import { ref, inject, getCurrentInstance } from "vue"
import { mount } from "app.mjs"
import { Store } from "store.mjs"

const Gallery = {
    setup() {
        const store = inject('store')
        const artifact = ref()
        
        async function loadArtifact(id) {
            artifact.value = await store.getArtifact(id)
        }
        function showArtifact(a) {
            artifact.value = a
        }
        
        const instance = getCurrentInstance()
        const artifactMenu = ref()
        const open = ref('')
        function openDialog(dialog, artifact) {
            artifactMenu.value = null
            open.value = dialog
            //artifact.value = artifact
        }
        function closeDialog() {
            open.value = ''
            //artifact.value = null
        }
        function notifyChanged() {
            artifactMenu.value = null
            forceUpdate()
            update() 
        }
        function update() {}
        function forceUpdate() { instance?.proxy?.$forceUpdate() }
        
        return { store, artifact, loadArtifact, showArtifact,
            artifactMenu, open, openDialog, closeDialog, notifyChanged, update }
    }
}
mount('#gallery', Gallery)
</script>