@page
@model GalleryResults

<div id="gallery" class="@Html.ClassNames("grid sm:gap-2", AppCss.GetGridClass(Model.GridColumns ?? 5))">
@foreach (var artifact in Model.Artifacts.OrEmpty())
{
    <div v-on:click.prevent.stop="loadArtifact(@artifact.Id)">
        @await Html.PartialAsync("StaticArtifactImage", new ArtifactImageParams { Artifact = artifact })
    </div>
}
    <artifact-modal v-if="artifact" :artifact="artifact" v-on:selected="showArtifact" v-on:done="showArtifact(null)"></artifact-modal>
    <sign-in-dialog v-if="showAuth && !showSignUp" v-on:done="showAuth=false" v-on:signup="showSignUp=true"></sign-in-dialog>
    <sign-up-dialog v-if="showAuth && showSignUp" v-on:done="showAuth=false"  v-on:signin="showSignUp=false"></sign-up-dialog>
</div>

<script type="module">
import { ref, inject } from "vue"
import { mount } from "app.mjs"
import { Store } from "store.mjs"

const Gallery = {
    setup() {
        const store = inject('store')
        const artifact = ref()
        const showAuth = ref(false)
        const showSignUp = ref(false)
        
        async function loadArtifact(id) {
            artifact.value = await store.getArtifact(id)
        }
        function showArtifact(a) {
            artifact.value = a
        }
        return { store, artifact, showAuth, showSignUp, loadArtifact, showArtifact }
    }
}
mount('#gallery', Gallery)
</script>