<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="img/logo.svg">
    <title>Dieter Rams Designs</title>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css">
    

<link rel="canonical" href="https://blazordiffusion.com/albums/dieter-rams-designs"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="diffusion.works"/>
<meta name="twitter:creator" content="@blazordiffusion"/>
<meta property="og:url" content="https://blazordiffusion.com/albums/dieter-rams-designs"/>
<meta property="og:title" content="Dieter Rams Designs"/>
<meta property="og:description" content="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art"/>
<meta property="og:image" content="https://cdn.diffusion.works/artifacts/2024/08/12/12/6b02b35aece52621a60bb7e66ef1aa29d7f30dede42ece684e367a51c08af91d.webp"/>


    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "./mjs/app.mjs",
        "dtos.mjs": "./mjs/dtos.mjs",
        "store.mjs": "./mjs/store.mjs",
        "vue": "./lib/mjs/vue.min.mjs",
        "@servicestack/client": "./lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "./lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
    <script>window.AppConfig={"baseUrl":"https://diffusion.works","cdnBaseUrl":"https://blazordiffusion.com","apiBaseUrl":"https://blazordiffusion.com","assetsBasePath":"https://cdn.diffusion.works","fallbackAssetsBasePath":"https://pub-97bba6b94a944260b10a6e7d4bf98053.r2.dev"}</script>
    <style>:root { color-scheme:dark }</style>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-4" aria-label="Global">
        <div class="flex sm:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center">
                <span class="sr-only">Diffusion Works</span>
                <svg class="hidden sm:inline w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M8.55 3.06c1.01.34-1.95 2.01-.1 3.13c1.04.63 3.31-2.22 4.45-2.86c.97-.54 2.67-.65 3.53 1.23c1.09 2.38.14 8.57-3.79 11.06c-3.97 2.5-8.97 1.23-10.7-2.66c-2.01-4.53 3.12-11.09 6.61-9.9zm1.21 6.45c.73 1.64 4.7-.5 3.79-2.8c-.59-1.49-4.48 1.25-3.79 2.8z"/></svg>
                <span class="ml-1 text-lg sm:text-xl leading-6 tracking-tight text-white">diffusion.works</span>
            </a>
        </div>
        <div class="flex sm:hidden">
            <button v-on:click="showMobileNav=true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
        </div>
        <div class="hidden sm:flex sm:gap-x-6 lg:gap-x-12">
                    <a href="" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Search</a>
                    <a href="create" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Create</a>
                    <a href="favorites" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Favorites</a>
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:justify-end">
            <sign-in-link><div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
        </div>
    </nav>
    <div v-if="showMobileNav" class="sm:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path fill="#41b883" d="M24.4 3.925H30l-14 24.15L2 3.925h10.71l3.29 5.6l3.22-5.6Z"/><path fill="#41b883" d="m2 3.925l14 24.15l14-24.15h-5.6L16 18.415L7.53 3.925Z"/><path fill="#35495e" d="M7.53 3.925L16 18.485l8.4-14.56h-5.18L16 9.525l-3.29-5.6Z"/>
                    </svg>
                </a>
                <button v-on:click="showMobileNav=false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/25">
                    <div class="space-y-2 py-6">
                            <a href="" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Search</a>
                            <a href="create" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Create</a>
                            <a href="favorites" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Favorites</a>
                    </div>
                    <div class="py-6">
                        <sign-in-link menu-class="left-4">
                            <div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sign-in-dialog v-if="showAuth && !showSignUp" v-on:done="showAuth=false" v-on:signup="showSignUp=true"></sign-in-dialog>
    <sign-up-dialog v-if="showAuth && showSignUp" v-on:done="showAuth=false"  v-on:signin="showSignUp=false"></sign-up-dialog>
</header>

<script>
const cachedAuth = JSON.parse(localStorage.getItem('swr.Authenticate') || null) 
if (cachedAuth?.profileUrl) {
    document.querySelectorAll('nav sign-in-link').forEach(el => el.innerHTML = 
        `<div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 overflow-hidden">
          <img class="w-9 h-9 cursor-pointer" src="${cachedAuth.profileUrl}" alt="Profile">
        </div>`)
}
</script>

<script type="module">
import { ref } from "vue"
import { mountAll, mount } from "app.mjs"
import { useAuth } from "@servicestack/vue"

const HeaderNav = {
    setup() {
        const showMobileNav = ref(false)
        const showAuth = ref(false)
        const showSignUp = ref(false)
        const { user } = useAuth()
        
        const requiresAuth = ['create','favorites']
        function nav(e) {
            if (requiresAuth.some(x => e.target.href.endsWith(x)) && !user.value) {
                showAuth.value = true
                e.preventDefault()                
            }
        }
        
        return { showMobileNav, showAuth, showSignUp, nav }
    }
}
mount('#header', HeaderNav)

mountAll()
</script>


<div class="bg-gray-900">
    <div class="relative isolate pt-8 min-h-screen">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <main class="py-16 sm:py-32 lg:pb-40">
            


<div id="albums" class="mx-auto px-6 lg:px-8" data-album="78">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">Dieter Rams Designs</h1>
    </div>

    

    
<div id="gallery" class="grid sm:gap-2 grid-cols-3 sm:grid-cols-4 xl:grid-cols-5">
    <div v-on:click.prevent.stop="loadArtifact(83449)">
        
        <div class="relative overflow-hidden" style="background-color:#AA9A7AFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/6b02b35aece52621a60bb7e66ef1aa29d7f30dede42ece684e367a51c08af91d.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83449_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83475)">
        
        <div class="relative overflow-hidden" style="background-color:#A88767FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Vintage Illustration, Retro-Futurism, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/202d75575fe202f1bdb2dda91ca2d83f572aaf39f001397d305939200493003b.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83475_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83473)">
        
        <div class="relative overflow-hidden" style="background-color:#D2BFA1FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Vintage Illustration, Retro-Futurism, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/5f9b105cd48bfa2fcb61cf557a1a3ef6fc9ebd93ef74497a0c58007d2bd8f27e.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83473_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83472)">
        
        <div class="relative overflow-hidden" style="background-color:#60543CFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Vintage Illustration, Retro-Futurism, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/55fbf476c43365e7495a033bfa24a04cdf05fb3a4578062f954e154c36d91a31.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83472_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83474)">
        
        <div class="relative overflow-hidden" style="background-color:#CAB794FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Vintage Illustration, Retro-Futurism, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/8d03f5e2dd3804e4669dc7e4d87bca3b03cd5c0536101568da127dad653b7933.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83474_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83465)">
        
        <div class="relative overflow-hidden" style="background-color:#DEDBCDFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/09b2b3af29065e9e1e3b700833aad23f9648326393bdfac9696bbed118586231.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83465_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83463)">
        
        <div class="relative overflow-hidden" style="background-color:#D2BE9DFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/fb4ba0c656cf74aadb6ef65ebc10dda392bfa1fe846af64323b35cff5b7828a5.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83463_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83462)">
        
        <div class="relative overflow-hidden" style="background-color:#D6D4BDFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/f855d6312fe8153ce04f5b359c964c28a67a19f89834d0b36da5fe93ece7eb45.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83462_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83464)">
        
        <div class="relative overflow-hidden" style="background-color:#BEBEB0FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/2389e6b1f99da662437175a1490fb2360335f342886f79734923cad02d5e059b.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83464_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83460)">
        
        <div class="relative overflow-hidden" style="background-color:#B6A77AFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/d44406207905f8abe1ed4299975545bafbf720b8fb4e4b5a33da099e64f8dd9c.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83460_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83459)">
        
        <div class="relative overflow-hidden" style="background-color:#A59677FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/6b3b67454bc4e01f71ec2c4c6b283bded2b8ccd9f5a1b644441fb5499620cca3.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83459_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83457)">
        
        <div class="relative overflow-hidden" style="background-color:#C4B891FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/9862295676d28d8fce3532e300823e36dc29ae7e8e5b92559f165546cc096818.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83457_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83458)">
        
        <div class="relative overflow-hidden" style="background-color:#AC7F3BFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Vintage Illustration, Retro-Futurism, Sharp Focus, Smooth, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/92bdad2ffcdda8e12e86a33e030d73a6ba5d3e46c72759c722dad711666c9926.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83458_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83455)">
        
        <div class="relative overflow-hidden" style="background-color:#A58E6EFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/6bd628077e78cbbe7f9cfce896407f0e3130ceb3ea483894bdf44d8d483f5755.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83455_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83454)">
        
        <div class="relative overflow-hidden" style="background-color:#989182FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/26c27fb32b376ece07458cf6591839da1becb519224102a4d4ab7090aa4bcf75.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83454_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83452)">
        
        <div class="relative overflow-hidden" style="background-color:#D5B86FFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art by Stanley Artgerm Lau" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/5849c2f645246e2fe63748e21df1ec4fe018135fe5a5e0f2057d5401e0b24ee1.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83452_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83448)">
        
        <div class="relative overflow-hidden" style="background-color:#DBCDB3FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/f1c17379e8d706f25adf608fb10f656fbe28879ba13596d3b7269156c68e62d0.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83448_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(78294)">
        
        <div class="relative overflow-hidden" style="background-color:#8C8176FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/07/31/12/4d3d083e594c26a4a348f160c5b5599a303e290c05991d0b00da3ba1b4266572.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/78/78294_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73201)">
        
        <div class="relative overflow-hidden" style="background-color:#8D8479FF">
        <img alt="Soviet control panel for space craft designed by Dieter Rams, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/8806e4567d9c19cc2905612670dc6e15f6b3403b9f2aae7961de337c1390c356.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73201_soviet-control-panel-for-space-craft-designed-by-dieter-rams.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73204)">
        
        <div class="relative overflow-hidden" style="background-color:#8A847BFF">
        <img alt="Soviet control panel for space craft designed by Dieter Rams, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/f94b314b558c7690857ff4b4ca8306ffb211069f5d268b5bd8e1908ed1266b33.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73204_soviet-control-panel-for-space-craft-designed-by-dieter-rams.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73203)">
        
        <div class="relative overflow-hidden" style="background-color:#89837BFF">
        <img alt="Soviet control panel for space craft designed by Dieter Rams, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/cbc9eb6fb1528a1406222f8965b857851f6476c42d3ef8e7a3d277d6c6b66233.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73203_soviet-control-panel-for-space-craft-designed-by-dieter-rams.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73202)">
        
        <div class="relative overflow-hidden" style="background-color:#948D86FF">
        <img alt="Soviet control panel for space craft designed by Dieter Rams, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/547a6117b06c3a1aa10d3a93230dcb587603bbef9cae411746c976a367bddd1e.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73202_soviet-control-panel-for-space-craft-designed-by-dieter-rams.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73198)">
        
        <div class="relative overflow-hidden" style="background-color:#7B7269FF">
        <img alt="a bentobox that contains musical instruments including an 80&#x27;s synthesizer at the bottom and effect pedals and tape cassette loopers, in the style of circuit bending, beat up, duct tape, screws, circuits, wires, dirty, broken, capacitors, cables, grunge, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/f4b090e7c397c415893ba30433cf4ba1388cc64bac8cb983e88c179fbc2a7a68.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73198_a-bentobox-that-contains-musical-instruments-including-an-80-s-synthesizer-at-the-bottom-and-effect.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73199)">
        
        <div class="relative overflow-hidden" style="background-color:#7F766BFF">
        <img alt="a bentobox that contains musical instruments including an 80&#x27;s synthesizer at the bottom and effect pedals and tape cassette loopers, in the style of circuit bending, beat up, duct tape, screws, circuits, wires, dirty, broken, capacitors, cables, grunge, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/b9f1d544f74fdef6cfdf199bc02d03ee6a847e0189e95c92f992092d69ac6779.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73199_a-bentobox-that-contains-musical-instruments-including-an-80-s-synthesizer-at-the-bottom-and-effect.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73193)">
        
        <div class="relative overflow-hidden" style="background-color:#9C9994FF">
        <img alt="A digital camera designed by Dieter Rams. Intricate details, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/d8379333d439708681400ef51a4126f4dbc1d85aad7bc329a6dcac790ecee6dc.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73193_a-digital-camera-designed-by-dieter-rams-intricate-details.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73191)">
        
        <div class="relative overflow-hidden" style="background-color:#96918BFF">
        <img alt="A Gaming Computer designed by Dieter Rams. Product ad retro, 8k, Highly Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/bc1be8a44b2319c591f9ee97ec734d01b5206168ecc402e5cc31786150c82ccf.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73191_a-gaming-computer-designed-by-dieter-rams-product-ad-retro.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73188)">
        
        <div class="relative overflow-hidden" style="background-color:#A19383FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/a336c3c5f7fadd30a062c672684c993362c4d68557966f08056227dff0f8614c.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73188_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73187)">
        
        <div class="relative overflow-hidden" style="background-color:#7F7A74FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/00eb66f56e9b7a26a0696da4d0eb3527f6060a00debc5668bba1f4acbf28f5a4.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73187_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73186)">
        
        <div class="relative overflow-hidden" style="background-color:#8A847FFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/a5645803a79e467591a410cdae5d82c910b3b2f8e6a5a05ca9443dc64c48502f.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73186_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(73185)">
        
        <div class="relative overflow-hidden" style="background-color:#92877BFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/12/12/eb65b24db514866b15e44b83205e01bda77464493fd70d4989e623f43b03d046.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/73/73185_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67704)">
        
        <div class="relative overflow-hidden" style="background-color:#9D8B7AFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/94e062252cda27766084ce7d9a350b081c678332f109c68cace735451b84b422.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67704_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67701)">
        
        <div class="relative overflow-hidden" style="background-color:#786D62FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/15bfc1cbef13c795339e74bd9eaf84656d8ec01499b4d7a4b2c336a8d7555a1d.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67701_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67698)">
        
        <div class="relative overflow-hidden" style="background-color:#88827BFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/5e582ca1ae9d4dd7e1c3f454e298535d5453c74b868a32cd0a9de832b1b8eb4c.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67698_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67697)">
        
        <div class="relative overflow-hidden" style="background-color:#787067FF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/b78d3b6e8dab5b5d110de0f7564130411e2f242f2afc0ab9655cc37aa37099ef.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67697_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67696)">
        
        <div class="relative overflow-hidden" style="background-color:#99958FFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/e56ad8bfe23b603f402b0e21dfd959015a3784e22f08b5d996b74cff18c188b6.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67696_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(67700)">
        
        <div class="relative overflow-hidden" style="background-color:#877A6EFF">
        <img alt="A Time Machine designed by Dieter Rams. stunning industrial design. Natural colors, mid century modern design, 8k, Highly Detailed, Hyper Detailed, Vintage Illustration, Sharp Focus, Smooth, Octane Render, Vector Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2023/11/04/12/f32c61b559cfc9bac569fe5a9dd28d2aaa029f5be0adb7bcd6c9064858eacceb.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/67/67700_a-time-machine-designed-by-dieter-rams-stunning-industrial-design-natural-colors-mid-century-mode.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <artifact-modal v-if="artifact" :artifact="artifact" v-on:selected="showArtifact" v-on:done="showArtifact(null)" v-on:open="openDialog">
        <template #icons="artifact">
            <div class="p-2 relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                <div class="flex flex-col h-full justify-between">
                    <div class="flex justify-between flex-none">
                        <artifact-like-icon :artifact="artifact" v-on:changed="update"></artifact-like-icon>
                        <artifact-menu-icon :artifact="artifact" v-on:show-artifact-menu="artifactMenu=artifact"></artifact-menu-icon>
                    </div>
                    <artifact-explore-icon :artifact="artifact" v-on:changed="update"></artifact-explore-icon>
                </div>
            </div>
        </template>
        <template #contextmenu="artifact">
            <artifact-menu v-if="artifactMenu?.id === artifact.id" :artifact="artifactMenu" menu-class="justify-end"
                           v-on:changed="notifyChanged" v-on:done="artifactMenu=null" v-on:open="openDialog">
            </artifact-menu>
        </template>
    </artifact-modal>
    <artifact-dialogs :show="open" :artifact="artifact" v-on:done="closeDialog"></artifact-dialogs>
</div>

<script type="module">
import { ref, inject, getCurrentInstance } from "vue"
import { mount } from "app.mjs"
import { Store } from "store.mjs"

const Gallery = {
    setup() {
        const store = inject('store')
        const artifact = ref()
        
        async function loadArtifact(id) {
            artifact.value = await store.getArtifact(id)
        }
        function showArtifact(a) {
            artifact.value = a
        }
        
        const instance = getCurrentInstance()
        const artifactMenu = ref()
        const open = ref('')
        function openDialog(dialog, artifact) {
            artifactMenu.value = null
            open.value = dialog
            //artifact.value = artifact
        }
        function closeDialog() {
            open.value = ''
            //artifact.value = null
        }
        function notifyChanged() {
            artifactMenu.value = null
            forceUpdate()
            update() 
        }
        function update() {}
        function forceUpdate() { instance?.proxy?.$forceUpdate() }
        
        return { store, artifact, loadArtifact, showArtifact,
            artifactMenu, open, openDialog, closeDialog, notifyChanged, update }
    }
}
mount('#gallery', Gallery)
</script>
    


</div>


            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </main>
    </div>

    <footer class="relative z-10 dark:border-slate-800">
  <div class="mx-auto max-w-7xl overflow-hidden py-8 px-6 sm:py-14 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="albums" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Albums</a>
      </div>

      <div class="pb-6">
        <a href="latest" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Latest</a>
      </div>

      <div class="pb-6">
        <a href="top" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Top</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">

      <a href="https://twitter.com/blazordiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
        </svg>
      </a>

      <a href="https://github.com/NetCoreApps/VueDiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
        </svg>
      </a>
      
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      <a href="https://razor-ssg.web-templates.io/posts/razor-ssg">powered by razor</a>
    </p>
  </div>
</footer>

</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>



</body>
</html>