<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="img/logo.svg">
    <title>Mystical</title>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css">
    

<link rel="canonical" href="https://blazordiffusion.com/albums/mystical"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="diffusion.works"/>
<meta name="twitter:creator" content="@blazordiffusion"/>
<meta property="og:url" content="https://blazordiffusion.com/albums/mystical"/>
<meta property="og:title" content="Mystical"/>
<meta property="og:description" content="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, Artstation, Digital Illustration, Concept Art"/>
<meta property="og:image" content="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/8b9447f93c6072219aa83b1cfdf469ae625a56102e86de8d470879c02c22678a.webp"/>


    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "./mjs/app.mjs",
        "dtos.mjs": "./mjs/dtos.mjs",
        "store.mjs": "./mjs/store.mjs",
        "vue": "./lib/mjs/vue.min.mjs",
        "@servicestack/client": "./lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "./lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
    <script>window.AppConfig={"baseUrl":"https://diffusion.works","cdnBaseUrl":"https://blazordiffusion.com","apiBaseUrl":"https://blazordiffusion.com","assetsBasePath":"https://ai-server-cdn.diffusion.works","fallbackAssetsBasePath":"https://openai.servicestack.net"}</script>
    <style>:root { color-scheme:dark }</style>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-4" aria-label="Global">
        <div class="flex sm:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center">
                <span class="sr-only">Diffusion Works</span>
                <svg class="hidden sm:inline w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M8.55 3.06c1.01.34-1.95 2.01-.1 3.13c1.04.63 3.31-2.22 4.45-2.86c.97-.54 2.67-.65 3.53 1.23c1.09 2.38.14 8.57-3.79 11.06c-3.97 2.5-8.97 1.23-10.7-2.66c-2.01-4.53 3.12-11.09 6.61-9.9zm1.21 6.45c.73 1.64 4.7-.5 3.79-2.8c-.59-1.49-4.48 1.25-3.79 2.8z"/></svg>
                <span class="ml-1 text-lg sm:text-xl leading-6 tracking-tight text-white">diffusion.works</span>
            </a>
        </div>
        <div class="flex sm:hidden">
            <button v-on:click="showMobileNav=true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
        </div>
        <div class="hidden sm:flex sm:gap-x-6 lg:gap-x-12">
                    <a href="" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Search</a>
                    <a href="create" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Create</a>
                    <a href="favorites" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Favorites</a>
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:justify-end">
            <sign-in-link><div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
        </div>
    </nav>
    <div v-if="showMobileNav" class="sm:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path fill="#41b883" d="M24.4 3.925H30l-14 24.15L2 3.925h10.71l3.29 5.6l3.22-5.6Z"/><path fill="#41b883" d="m2 3.925l14 24.15l14-24.15h-5.6L16 18.415L7.53 3.925Z"/><path fill="#35495e" d="M7.53 3.925L16 18.485l8.4-14.56h-5.18L16 9.525l-3.29-5.6Z"/>
                    </svg>
                </a>
                <button v-on:click="showMobileNav=false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/25">
                    <div class="space-y-2 py-6">
                            <a href="" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Search</a>
                            <a href="create" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Create</a>
                            <a href="favorites" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Favorites</a>
                    </div>
                    <div class="py-6">
                        <sign-in-link menu-class="left-4">
                            <div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sign-in-dialog v-if="showAuth && !showSignUp" v-on:done="showAuth=false" v-on:signup="showSignUp=true"></sign-in-dialog>
    <sign-up-dialog v-if="showAuth && showSignUp" v-on:done="showAuth=false"  v-on:signin="showSignUp=false"></sign-up-dialog>
</header>

<script>
const cachedAuth = JSON.parse(localStorage.getItem('swr.Authenticate') || null) 
if (cachedAuth?.profileUrl) {
    document.querySelectorAll('nav sign-in-link').forEach(el => el.innerHTML = 
        `<div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 overflow-hidden">
          <img class="w-9 h-9 cursor-pointer" src="${cachedAuth.profileUrl}" alt="Profile">
        </div>`)
}
</script>

<script type="module">
import { ref } from "vue"
import { mountAll, mount } from "app.mjs"
import { useAuth } from "@servicestack/vue"

const HeaderNav = {
    setup() {
        const showMobileNav = ref(false)
        const showAuth = ref(false)
        const showSignUp = ref(false)
        const { user } = useAuth()
        
        const requiresAuth = ['create','favorites']
        function nav(e) {
            if (requiresAuth.some(x => e.target.href.endsWith(x)) && !user.value) {
                showAuth.value = true
                e.preventDefault()                
            }
        }
        
        return { showMobileNav, showAuth, showSignUp, nav }
    }
}
mount('#header', HeaderNav)

mountAll()
</script>


<div class="bg-gray-900">
    <div class="relative isolate pt-8 min-h-screen">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <main class="py-16 sm:py-32 lg:pb-40">
            


<div id="albums" class="mx-auto px-6 lg:px-8" data-album="8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">Mystical</h1>
    </div>

    

    
<div id="gallery" class="grid sm:gap-2 grid-cols-3 sm:grid-cols-4 xl:grid-cols-5">
    <div v-on:click.prevent.stop="loadArtifact(83286)">
        
        <div class="relative overflow-hidden" style="background-color:#264640FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, Artstation, Digital Illustration, Concept Art" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/8b9447f93c6072219aa83b1cfdf469ae625a56102e86de8d470879c02c22678a.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83286_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91741)">
        
        <div class="relative overflow-hidden" style="background-color:#203A3AFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/3801901bd689e5924b0d08d17af2c2cacfea389b3de1f1906f881377823920d7.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91741_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91740)">
        
        <div class="relative overflow-hidden" style="background-color:#17323AFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/d9cb1f54c8b6d46a355a3759dd89ec38fd13201716578bb472e8e9ffadf59f96.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91740_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91739)">
        
        <div class="relative overflow-hidden" style="background-color:#263833FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/ad5b44492af709337b4f6b5a752bd578bdfa381f010a24d6dca3f2464997a611.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91739_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91738)">
        
        <div class="relative overflow-hidden" style="background-color:#1B2F32FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/6f84f8cc5f17cf118d609b0e2a090c493126b4e8fa5602aa5033260acbb7d5ff.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91738_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91749)">
        
        <div class="relative overflow-hidden" style="background-color:#343E3FFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/43d2d08ee632c886cc022119d684f360889eb0dbc292a250647a12deacf4ed79.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91749_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91748)">
        
        <div class="relative overflow-hidden" style="background-color:#313D3EFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/f725caf905a559baa609d15cbdadb0c7dd178d328907cd4792175c8f17e4ac65.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91748_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91747)">
        
        <div class="relative overflow-hidden" style="background-color:#394646FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/2962e276b8d73bc3ff5f16d7d586e05e054abd4769f6be7270214673d24f6438.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91747_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91746)">
        
        <div class="relative overflow-hidden" style="background-color:#324144FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/28/12/4576ab5780863698e914afb043f2a1bdf293515de4b50290df13075ebb40d949.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91746_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83285)">
        
        <div class="relative overflow-hidden" style="background-color:#1E3A3EFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, Artstation, Digital Illustration, Concept Art" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/7a427e91b480424b11e6a312eedc85d05bb3ea7d2b555c61fa7f4d36d2c797e7.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83285_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83284)">
        
        <div class="relative overflow-hidden" style="background-color:#1A434AFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, Artstation, Digital Illustration, Concept Art" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/b9286f92ca9b33e78dc5b93ff4a1b040678717132039aca5af985d265dc99a74.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83284_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83283)">
        
        <div class="relative overflow-hidden" style="background-color:#2D3733FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/e89ce0061ff51eb9cbd16ffe0eb79bbcf830b067b32a8396215fe8f64a33c7fb.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83283_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83282)">
        
        <div class="relative overflow-hidden" style="background-color:#17333AFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/ed9d394deccd214e34820f1daba738f08fec1eaa2067c36cdb4481fa1095455d.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83282_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83281)">
        
        <div class="relative overflow-hidden" style="background-color:#173632FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/1b120c4eab0d2b4f06dae7674eb15e5b2d3c52137f846cd89d328ef364b5ce31.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83281_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83280)">
        
        <div class="relative overflow-hidden" style="background-color:#243C36FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/822d8233b14d407fffd9d1abd527c155cb7e80a6774c7bc6c4af65191178aa5a.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83280_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83278)">
        
        <div class="relative overflow-hidden" style="background-color:#303536FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy by Stefan Kostic" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/5e88c9b4fc027b845a65a4c7fc854f3b6aeb7b63dad961470b85e5f29a7e6902.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83278_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83276)">
        
        <div class="relative overflow-hidden" style="background-color:#273437FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy by Stefan Kostic" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/3646ff6c10f44a8a17277c320ab075ad25abde537c6ad9d7699218ce3b22eadd.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83276_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83273)">
        
        <div class="relative overflow-hidden" style="background-color:#282826FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/d97d9baba03fd0447798d58097ac44d3ba708cb844716b0690f656f857beee20.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83273_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83272)">
        
        <div class="relative overflow-hidden" style="background-color:#233B3DFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/00b03ee8a5a362855a113072d35d981b4ce32043433d93a933ddb8ea613ee153.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83272_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83275)">
        
        <div class="relative overflow-hidden" style="background-color:#2C3C3CFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/12/12/e2020af6cdca6c4532c349c86cd4d404a176c3453a14657d2565583bfa7703ff.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83275_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79291)">
        
        <div class="relative overflow-hidden" style="background-color:#545C61FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/da99d4bd29bb8515275c369651a5d8c90f4b694094b21f459d28917209264b96.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79291_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79290)">
        
        <div class="relative overflow-hidden" style="background-color:#4C5964FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/500c0e0a0329102502f20f4281cf702395acc3dacc34edfb25c14be04a3367a8.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79290_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79289)">
        
        <div class="relative overflow-hidden" style="background-color:#515453FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/d0ae5bde6816ada17a3e3429323a792e415d3c78edb79322769df81fa9ae1922.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79289_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79288)">
        
        <div class="relative overflow-hidden" style="background-color:#4A555DFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/57a07b749380446fcb60a408a08ae827bf544e8bdfbab177b4c75a8cff10840b.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79288_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79087)">
        
        <div class="relative overflow-hidden" style="background-color:#4F565AFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/70101d7f2305c28278f3ad6e18595810ae2c25ccef52f4ccaab6796febb799cd.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79087_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79086)">
        
        <div class="relative overflow-hidden" style="background-color:#474E55FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/b1307de65db597c5bb10b6a380157255f572ff2f79fe76b524945edce4c03994.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79086_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79085)">
        
        <div class="relative overflow-hidden" style="background-color:#50585CFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/5eca3945b75caba52bb1438ce8e91a05748017de0385201d26f0de6f89bd5887.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79085_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79084)">
        
        <div class="relative overflow-hidden" style="background-color:#395552FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/75365ec63f131c8ccb27f9b163f0a21f5e0b46e5b4ba39dfa310e95fbb544c05.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79084_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79083)">
        
        <div class="relative overflow-hidden" style="background-color:#3B544DFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/b4acb578682025cc5ffcca5a6d090897690da796e856a1e7ac38998dc01a3a39.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79083_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79082)">
        
        <div class="relative overflow-hidden" style="background-color:#3A5147FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/54fce6103ed493906ca5cb0e224376943513c6359082ffefc98142cb7b6f6deb.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79082_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79081)">
        
        <div class="relative overflow-hidden" style="background-color:#30514FFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="1024" height="1024"
             src="https://ai-server-cdn.diffusion.works/artifacts/2024/08/06/12/4f274421825bacbfee632565c230417d25789fc8d60e46d784d9d92efd027a07.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79081_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69139)">
        
        <div class="relative overflow-hidden" style="background-color:#6A5343FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/100710d4db2b1d928bb04f81af72eb4cf643ab74d8d5f2762a2d3d925c058bc6.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69139_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69138)">
        
        <div class="relative overflow-hidden" style="background-color:#644A39FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/36f851ee7646202f4480d2de2d78a5394e999eb502339d44f34b9dd159daab64.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69138_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69136)">
        
        <div class="relative overflow-hidden" style="background-color:#5C4A3DFF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/78ca413eb8f10782042ce213dd83114a4dfbe2caceb933d6a82cea3c0852d900.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69136_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69142)">
        
        <div class="relative overflow-hidden" style="background-color:#765847FF">
        <img alt="Portrait of a fall we felled in the moonlight, Highly Detailed, Intricate, Cinematic Lighting, Unreal Engine, Radiant, Fantasy by Ferdinand Knab, Ilya Kuvshinov, Alphonse Mucha, RHADS, Greg Rutkowski, Makoto Shinkai, Lois van Baarle" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/9b41e88448cf55c1a203a0a01a63fce609e7806d497936ff749ad328ae1141e6.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69142_portrait-of-a-fall-we-felled-in-the-moonlight.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69135)">
        
        <div class="relative overflow-hidden" style="background-color:#524B3AFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/a3877962d9a599976ac7e1113ff5588f4b2c5554722dc659eb3a07b149507c21.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69135_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69134)">
        
        <div class="relative overflow-hidden" style="background-color:#394240FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/b2d7fc451839dfb806aa61d9c2e8ac7a4be3afbfb600eb03f404d3ec55e098ba.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69134_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69133)">
        
        <div class="relative overflow-hidden" style="background-color:#37423BFF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/b4edf68605e83e590cc61fa39f307f240be4ffe245536609c3c23db6789f40f2.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69133_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69132)">
        
        <div class="relative overflow-hidden" style="background-color:#333B32FF">
        <img alt="A beautiful digital illustration painting of a detailed gothic fantasy fireflies forest trees and iron gate cobblestone pathway vines full moon, 8k, Artstation, Digital Illustration, Concept Art by Justin Gerard, James Gurney" width="768" height="1344"
             src="https://ai-server-cdn.diffusion.works/artifacts/2023/11/05/12/a02ba5ecaf29300cd474c8f3548d72e5de3d7e9aff5cdb49059e43c68d4fa9e4.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69132_a-beautiful-digital-illustration-painting-of-a-detailed-gothic-fantasy-fireflies-forest-trees-and-ir.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <artifact-modal v-if="artifact" :artifact="artifact" v-on:selected="showArtifact" v-on:done="showArtifact(null)" v-on:open="openDialog">
        <template #icons="artifact">
            <div class="p-2 relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                <div class="flex flex-col h-full justify-between">
                    <div class="flex justify-between flex-none">
                        <artifact-like-icon :artifact="artifact" v-on:changed="update"></artifact-like-icon>
                        <artifact-menu-icon :artifact="artifact" v-on:show-artifact-menu="artifactMenu=artifact"></artifact-menu-icon>
                    </div>
                    <artifact-explore-icon :artifact="artifact" v-on:changed="update"></artifact-explore-icon>
                </div>
            </div>
        </template>
        <template #contextmenu="artifact">
            <artifact-menu v-if="artifactMenu?.id === artifact.id" :artifact="artifactMenu" menu-class="justify-end"
                           v-on:changed="notifyChanged" v-on:done="artifactMenu=null" v-on:open="openDialog">
            </artifact-menu>
        </template>
    </artifact-modal>
    <artifact-dialogs :show="open" :artifact="artifact" v-on:done="closeDialog"></artifact-dialogs>
</div>

<script type="module">
import { ref, inject, getCurrentInstance } from "vue"
import { mount } from "app.mjs"
import { Store } from "store.mjs"

const Gallery = {
    setup() {
        const store = inject('store')
        const artifact = ref()
        
        async function loadArtifact(id) {
            artifact.value = await store.getArtifact(id)
        }
        function showArtifact(a) {
            artifact.value = a
        }
        
        const instance = getCurrentInstance()
        const artifactMenu = ref()
        const open = ref('')
        function openDialog(dialog, artifact) {
            artifactMenu.value = null
            open.value = dialog
            //artifact.value = artifact
        }
        function closeDialog() {
            open.value = ''
            //artifact.value = null
        }
        function notifyChanged() {
            artifactMenu.value = null
            forceUpdate()
            update() 
        }
        function update() {}
        function forceUpdate() { instance?.proxy?.$forceUpdate() }
        
        return { store, artifact, loadArtifact, showArtifact,
            artifactMenu, open, openDialog, closeDialog, notifyChanged, update }
    }
}
mount('#gallery', Gallery)
</script>
    


</div>


            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </main>
    </div>

    <footer class="relative z-10 dark:border-slate-800">
  <div class="mx-auto max-w-7xl overflow-hidden py-8 px-6 sm:py-14 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="albums" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Albums</a>
      </div>

      <div class="pb-6">
        <a href="latest" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Latest</a>
      </div>

      <div class="pb-6">
        <a href="top" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Top</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">

      <a href="https://twitter.com/blazordiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
        </svg>
      </a>

      <a href="https://github.com/NetCoreApps/VueDiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
        </svg>
      </a>
      
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      <a href="https://razor-ssg.web-templates.io/posts/razor-ssg">powered by razor</a>
    </p>
  </div>
</footer>

</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>



</body>
</html>