<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="img/logo.svg">
    <title>Retro</title>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css">
    

<link rel="canonical" href="https://blazordiffusion.com/albums/retro"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="diffusion.works"/>
<meta name="twitter:creator" content="@blazordiffusion"/>
<meta property="og:url" content="https://blazordiffusion.com/albums/retro"/>
<meta property="og:title" content="Retro"/>
<meta property="og:description" content="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP"/>
<meta property="og:image" content="https://cdn.diffusion.works/artifacts/2024/08/06/12/ca2fbe232f5bca33a05e70aa2e6d010ca1939f3b5b87aca0b30d086fb38557ef.webp"/>


    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "./mjs/app.mjs",
        "dtos.mjs": "./mjs/dtos.mjs",
        "store.mjs": "./mjs/store.mjs",
        "vue": "./lib/mjs/vue.min.mjs",
        "@servicestack/client": "./lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "./lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
    <script>window.AppConfig={"baseUrl":"https://diffusion.works","cdnBaseUrl":"https://blazordiffusion.com","apiBaseUrl":"https://blazordiffusion.com","assetsBasePath":"https://cdn.diffusion.works","fallbackAssetsBasePath":"https://pub-97bba6b94a944260b10a6e7d4bf98053.r2.dev"}</script>
    <style>:root { color-scheme:dark }</style>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-4" aria-label="Global">
        <div class="flex sm:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center">
                <span class="sr-only">Diffusion Works</span>
                <svg class="hidden sm:inline w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M8.55 3.06c1.01.34-1.95 2.01-.1 3.13c1.04.63 3.31-2.22 4.45-2.86c.97-.54 2.67-.65 3.53 1.23c1.09 2.38.14 8.57-3.79 11.06c-3.97 2.5-8.97 1.23-10.7-2.66c-2.01-4.53 3.12-11.09 6.61-9.9zm1.21 6.45c.73 1.64 4.7-.5 3.79-2.8c-.59-1.49-4.48 1.25-3.79 2.8z"/></svg>
                <span class="ml-1 text-lg sm:text-xl leading-6 tracking-tight text-white">diffusion.works</span>
            </a>
        </div>
        <div class="flex sm:hidden">
            <button v-on:click="showMobileNav=true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
        </div>
        <div class="hidden sm:flex sm:gap-x-6 lg:gap-x-12">
                    <a href="" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Search</a>
                    <a href="create" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Create</a>
                    <a href="favorites" v-on:click="nav" class="text-lg font-semibold leading-6 text-white">Favorites</a>
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:justify-end">
            <sign-in-link><div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
        </div>
    </nav>
    <div v-if="showMobileNav" class="sm:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path fill="#41b883" d="M24.4 3.925H30l-14 24.15L2 3.925h10.71l3.29 5.6l3.22-5.6Z"/><path fill="#41b883" d="m2 3.925l14 24.15l14-24.15h-5.6L16 18.415L7.53 3.925Z"/><path fill="#35495e" d="M7.53 3.925L16 18.485l8.4-14.56h-5.18L16 9.525l-3.29-5.6Z"/>
                    </svg>
                </a>
                <button v-on:click="showMobileNav=false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/25">
                    <div class="space-y-2 py-6">
                            <a href="" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Search</a>
                            <a href="create" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Create</a>
                            <a href="favorites" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Favorites</a>
                    </div>
                    <div class="py-6">
                        <sign-in-link menu-class="left-4">
                            <div class="cursor-pointer -mx-3 block rounded-lg px-3 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Sign in &rarr;</div></sign-in-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sign-in-dialog v-if="showAuth && !showSignUp" v-on:done="showAuth=false" v-on:signup="showSignUp=true"></sign-in-dialog>
    <sign-up-dialog v-if="showAuth && showSignUp" v-on:done="showAuth=false"  v-on:signin="showSignUp=false"></sign-up-dialog>
</header>

<script>
const cachedAuth = JSON.parse(localStorage.getItem('swr.Authenticate') || null) 
if (cachedAuth?.profileUrl) {
    document.querySelectorAll('nav sign-in-link').forEach(el => el.innerHTML = 
        `<div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 overflow-hidden">
          <img class="w-9 h-9 cursor-pointer" src="${cachedAuth.profileUrl}" alt="Profile">
        </div>`)
}
</script>

<script type="module">
import { ref } from "vue"
import { mountAll, mount } from "app.mjs"
import { useAuth } from "@servicestack/vue"

const HeaderNav = {
    setup() {
        const showMobileNav = ref(false)
        const showAuth = ref(false)
        const showSignUp = ref(false)
        const { user } = useAuth()
        
        const requiresAuth = ['create','favorites']
        function nav(e) {
            if (requiresAuth.some(x => e.target.href.endsWith(x)) && !user.value) {
                showAuth.value = true
                e.preventDefault()                
            }
        }
        
        return { showMobileNav, showAuth, showSignUp, nav }
    }
}
mount('#header', HeaderNav)

mountAll()
</script>


<div class="bg-gray-900">
    <div class="relative isolate pt-8 min-h-screen">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <main class="py-16 sm:py-32 lg:pb-40">
            


<div id="albums" class="mx-auto px-6 lg:px-8" data-album="9">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">Retro</h1>
    </div>

    

    
<div id="gallery" class="grid sm:gap-2 grid-cols-3 sm:grid-cols-4 xl:grid-cols-5">
    <div v-on:click.prevent.stop="loadArtifact(79093)">
        
        <div class="relative overflow-hidden" style="background-color:#4C7C64FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/ca2fbe232f5bca33a05e70aa2e6d010ca1939f3b5b87aca0b30d086fb38557ef.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79093_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91753)">
        
        <div class="relative overflow-hidden" style="background-color:#446351FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/e13843920e4ea14a6444e162ffad7034bd3ae97714b38eab638521e8b3bb247b.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91753_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83290)">
        
        <div class="relative overflow-hidden" style="background-color:#545559FF">
        <img alt="80s futuristic outdoor retro arcade, desolate, lush vegetation, Highly Detailed, Intricate, Artstation, Sharp Focus, Smooth, Octane Render, Centered, Dynamic, Elegant by Beeple, Justin Gerard, James Gilleard, Simon Stalenhag" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/406d9f8f4637a6a319d977d739d111c53ad3a6325e4322f11106c141a8ef7533.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83290_80s-futuristic-outdoor-retro-arcade-desolate-lush-vegetation.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91752)">
        
        <div class="relative overflow-hidden" style="background-color:#415D49FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/776dbf2812a6aa8d036b3421339d927db25f0f3e0efc35f29eb2212022326445.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91752_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83289)">
        
        <div class="relative overflow-hidden" style="background-color:#5D605CFF">
        <img alt="80s futuristic outdoor retro arcade, desolate, lush vegetation, Highly Detailed, Intricate, Artstation, Sharp Focus, Smooth, Octane Render, Centered, Dynamic, Elegant by Beeple, Justin Gerard, James Gilleard, Simon Stalenhag" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/428ca14941ac2bbd2500b2ebac9bb0a5df752d88fd387737ba4bf9a2e6517118.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83289_80s-futuristic-outdoor-retro-arcade-desolate-lush-vegetation.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(83288)">
        
        <div class="relative overflow-hidden" style="background-color:#443C5FFF">
        <img alt="80s futuristic outdoor retro arcade, desolate, lush vegetation, Highly Detailed, Intricate, Artstation, Sharp Focus, Smooth, Octane Render, Centered, Dynamic, Elegant by Beeple, Justin Gerard, James Gilleard, Simon Stalenhag" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/12/12/bd8bfaaf49253eb76c382fa0bf45cb4e17628f34932cbb910fdf741bd67ffaf7.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/83/83288_80s-futuristic-outdoor-retro-arcade-desolate-lush-vegetation.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91751)">
        
        <div class="relative overflow-hidden" style="background-color:#4B6855FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/3e96895fc8f7e6dc0b32edefb47e38d6484a22ac611552316592b80051e37a0c.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91751_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79100)">
        
        <div class="relative overflow-hidden" style="background-color:#333F5EFF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/5a58abca37c1474d07047d99e6b42a339b9859a3cb54f079a57b95fd828411f5.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79100_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79099)">
        
        <div class="relative overflow-hidden" style="background-color:#364E74FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/05df380546a14a921cc93459a2778695bf5c77dcfaf91a93019e22855e71797e.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79099_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91750)">
        
        <div class="relative overflow-hidden" style="background-color:#486352FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/8ba483cc2ea87b13b61ba0ec64a744956b9fcfe85311b6fc2c40e4ea1bfa7761.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91750_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79098)">
        
        <div class="relative overflow-hidden" style="background-color:#334663FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/c481a26718085d64dc302786cb28a7e922b5a2365b087319b796987d1fb87750.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79098_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79097)">
        
        <div class="relative overflow-hidden" style="background-color:#43416AFF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/9c4b25dbfd39f4180793ff50a378cdeab17f5da458676cc8111a032324fb5ad4.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79097_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91744)">
        
        <div class="relative overflow-hidden" style="background-color:#0E6742FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/f6ba3eb8df1c1d839b0db6ae860c3d5e3f1fd2ea5a171da3a4333803946f1d51.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91744_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79096)">
        
        <div class="relative overflow-hidden" style="background-color:#527F68FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/34444c44c5a6aff01da98d9a76ec04e3284da37b6915ad914f6b860e1171989c.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79096_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79095)">
        
        <div class="relative overflow-hidden" style="background-color:#4A7F60FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/fa67f03a5fa250a260586d40bbb9a91eba6c43e68499042f978e8c730e7994dd.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79095_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(91743)">
        
        <div class="relative overflow-hidden" style="background-color:#57473AFF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2024/08/28/12/14b008a311b144d706d662ff9e472e49d1a13d7f862093b109a4676ceb4c6e8b.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/91/91743_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79094)">
        
        <div class="relative overflow-hidden" style="background-color:#4C8265FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1024" height="1024"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/cb05b970a175f56c9d308ebcb594cc4c67fe67617b7c1dad7690e80f15e31198.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79094_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79091)">
        
        <div class="relative overflow-hidden" style="background-color:#3D4469FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/bd036ebb6d0e2431f6e335d70d52bb2e2e1fef8ca9b860c54d77b21abece3f22.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79091_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79090)">
        
        <div class="relative overflow-hidden" style="background-color:#373A5EFF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/b49c66936af9069523c63a92a75db9947a034d3ca0a4798fed1249ea6578c3d6.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79090_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(79089)">
        
        <div class="relative overflow-hidden" style="background-color:#314368FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2024/08/06/12/f13d75cff2efcefbcfa57da4ff2724c1626a746c012722459b56edc167315fe7.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/79/79089_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69131)">
        
        <div class="relative overflow-hidden" style="background-color:#683058FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/26a775c005061ea2d94d16a041af8187e94f015b3e3aae64a4da467343e2a617.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69131_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69130)">
        
        <div class="relative overflow-hidden" style="background-color:#65295BFF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/873cd75c88e17a82f3482ca5ab6a6881496a77059dfac5906a1a999032ced0a4.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69130_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69129)">
        
        <div class="relative overflow-hidden" style="background-color:#6E2D5CFF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/dd34d316598d074faef8c0c8ea186ee1e2f9b13b822e0cb2b28b05b953eadc48.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69129_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69128)">
        
        <div class="relative overflow-hidden" style="background-color:#7C4B63FF">
        <img alt="A beautiful render of city sunroom by georgia o&#x27;keeffe, galactic alien synthwave rainforest noir thermal imaging myst uv light, flowers, Highly Detailed, Digital Painting, Cinematic Lighting, Neon, Concept Art" width="768" height="1344"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/6aca41052a265647ae10dabfbf418a47b6e3d4bb2c6e701033ff86b69313f069.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69128_a-beautiful-render-of-city-sunroom-by-georgia-o-keeffe-galactic-alien-synthwave-rainforest-noir-the.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69127)">
        
        <div class="relative overflow-hidden" style="background-color:#51674CFF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/40038f11364d95278a23f2b66961da51802fc6642d4fb0789e48c04fa7b030e0.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69127_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69126)">
        
        <div class="relative overflow-hidden" style="background-color:#595444FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/5e358fc8a075bd780f85bdae95c463d2d38ecb5c6de9e8b992a81e29b796ff66.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69126_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69125)">
        
        <div class="relative overflow-hidden" style="background-color:#445C3BFF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/e06fae4c02a8d534b756f4dda03baecf0c4b2ba85bddb8fcb1c4ae7ac379c342.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69125_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69124)">
        
        <div class="relative overflow-hidden" style="background-color:#4C6C46FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/479d0ab9e42bce16ee3534980243af192cc26488d3d0ea323cc0cdc0208dc7b1.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69124_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69122)">
        
        <div class="relative overflow-hidden" style="background-color:#4C453EFF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/ef0678e805d81161101569349dcc4e42fe9471b00309c09803faf5d455f5e675.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69122_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69123)">
        
        <div class="relative overflow-hidden" style="background-color:#6B6764FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/b68cd28206b039c28004e1115b6c624fd047b929d5e11644781f750f54144cb6.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69123_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69121)">
        
        <div class="relative overflow-hidden" style="background-color:#5C6D52FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/697a2e702b34fbc7cd98f9da1ece7a72957ee6cca782b8495e1632074708c075.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69121_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <div v-on:click.prevent.stop="loadArtifact(69120)">
        
        <div class="relative overflow-hidden" style="background-color:#3F5E43FF">
        <img alt="Studio ghibli, rocket explosion, jungle, solar, green technology, optimist future, 8k, Bokeh effect, Cinematic Lighting, Octane Render, Iridescence, Vibrant by Beeple, Asher Brown Durand, Dan Mumford, Greg Rutkowski, WLOP" width="1344" height="768"
             src="https://cdn.diffusion.works/artifacts/2023/11/05/12/6a961837bdbe40cfb39e4d863c785f768a3ad0b54bfa8d7cc17759d4b8192494.webp" loading="lazy">
            <a href="https://blazordiffusion.com/artifacts/69/69120_studio-ghibli-rocket-explosion-jungle-solar-green-technology-optimist-future.html"><div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
            </div></a>
        </div>

    </div>
    <artifact-modal v-if="artifact" :artifact="artifact" v-on:selected="showArtifact" v-on:done="showArtifact(null)" v-on:open="openDialog">
        <template #icons="artifact">
            <div class="p-2 relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                <div class="flex flex-col h-full justify-between">
                    <div class="flex justify-between flex-none">
                        <artifact-like-icon :artifact="artifact" v-on:changed="update"></artifact-like-icon>
                        <artifact-menu-icon :artifact="artifact" v-on:show-artifact-menu="artifactMenu=artifact"></artifact-menu-icon>
                    </div>
                    <artifact-explore-icon :artifact="artifact" v-on:changed="update"></artifact-explore-icon>
                </div>
            </div>
        </template>
        <template #contextmenu="artifact">
            <artifact-menu v-if="artifactMenu?.id === artifact.id" :artifact="artifactMenu" menu-class="justify-end"
                           v-on:changed="notifyChanged" v-on:done="artifactMenu=null" v-on:open="openDialog">
            </artifact-menu>
        </template>
    </artifact-modal>
    <artifact-dialogs :show="open" :artifact="artifact" v-on:done="closeDialog"></artifact-dialogs>
</div>

<script type="module">
import { ref, inject, getCurrentInstance } from "vue"
import { mount } from "app.mjs"
import { Store } from "store.mjs"

const Gallery = {
    setup() {
        const store = inject('store')
        const artifact = ref()
        
        async function loadArtifact(id) {
            artifact.value = await store.getArtifact(id)
        }
        function showArtifact(a) {
            artifact.value = a
        }
        
        const instance = getCurrentInstance()
        const artifactMenu = ref()
        const open = ref('')
        function openDialog(dialog, artifact) {
            artifactMenu.value = null
            open.value = dialog
            //artifact.value = artifact
        }
        function closeDialog() {
            open.value = ''
            //artifact.value = null
        }
        function notifyChanged() {
            artifactMenu.value = null
            forceUpdate()
            update() 
        }
        function update() {}
        function forceUpdate() { instance?.proxy?.$forceUpdate() }
        
        return { store, artifact, loadArtifact, showArtifact,
            artifactMenu, open, openDialog, closeDialog, notifyChanged, update }
    }
}
mount('#gallery', Gallery)
</script>
    


</div>


            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </main>
    </div>

    <footer class="relative z-10 dark:border-slate-800">
  <div class="mx-auto max-w-7xl overflow-hidden py-8 px-6 sm:py-14 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="albums" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Albums</a>
      </div>

      <div class="pb-6">
        <a href="latest" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Latest</a>
      </div>

      <div class="pb-6">
        <a href="top" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-gray-50">Top</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">

      <a href="https://twitter.com/blazordiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
        </svg>
      </a>

      <a href="https://github.com/NetCoreApps/VueDiffusion" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
        </svg>
      </a>
      
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      <a href="https://razor-ssg.web-templates.io/posts/razor-ssg">powered by razor</a>
    </p>
  </div>
</footer>

</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>



</body>
</html>