@page "/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Vue Diffusion";
}

<div id="search" class="mx-auto px-6 lg:px-8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-5xl font-semibold tracking-tight text-slate-50 sm:text-6xl">Stable Diffusion Search</h1>
        <form v-on:submit.prevent="update" class="mt-8 text-lg mx-auto max-w-lg flex justify-center">
            <text-input id="query" type="search" v-model="request.query" class="bg-transparent h-8 w-96" label="" placeholder="Search existing images"></text-input>
        </form>
    </div>

    <div class="flex">
        <div class="flex flex-col flex-shrink">
            <div class="z-10 flex-shrink sm:mr-2">
                <div v-if="apiArtifacts.response" class="flex flex-col sm:-ml-4 -mt-8 pt-1 sm:pt-2 justify-center items-center">
                    <div class="text-xs sm:text-sm text-gray-500 whitespace-nowrap w-16 sm:w-24 text-center pb-1">top albums</div>
                    <a :key="album.slug" v-for="album in topAlbums" :href="`/albums/${album.slug}`">
                        <div :class="['sm:mt-2 hover:opacity-80 cursor-pointer h-16 w-16 sm:h-24 sm:w-24 overflow-hidden rounded sm:rounded-lg border-2',
                                      album == album.albumRef ? 'border-yellow-400' : 'border-transparent']">
                            <artifact-image :artifact="albumCover(album)" class="flex w-full h-full" image-class="object-cover"></artifact-image>
                        </div>
                    </a>
                    <a href="/albums/" to="/albums" class="text-xs sm:text-sm text-gray-500 dark:hover:text-gray-300 whitespace-nowrap w-16 sm:w-24 text-center pb-1">more</a>
                </div>
            </div>
        </div>
        <artifact-gallery :results="results"></artifact-gallery>
    </div>
    <div class="mt-12 flex justify-center">
        <loading v-if="loadingMore" class="text-gray-400">loading...</loading>
        <span ref="bottom"></span>
    </div>
</div>

<script type="module">
import { ref, watch, onMounted, onUnmounted, computed } from "vue"
import { ApiResult } from "@@servicestack/client"
import { useClient } from "@@servicestack/vue"
import { mount, useSwrClient, notifyApiResult } from "app.mjs"
import { SearchArtifacts, AnonData, QueryArtifacts } from "dtos.mjs"
import { ArtifactImage, ArtifactGallery, getAlbumCoverArtifactId } from "./mjs/components/Artifacts.mjs" 

const Search = {
    components: {
        ArtifactImage,
        ArtifactGallery,
    },
    setup() {
        const swr = useSwrClient()
        const client = useClient()
        const results = ref([])
        const api = ref(new ApiResult())
        const apiAlbums = ref(new ApiResult())
        const apiArtifacts = ref(new ApiResult())
        const topAlbums = computed(() => apiAlbums.value.response?.topAlbums || [])
        const request = ref(new SearchArtifacts({
            query: '',
            skip: 0,
            take: 50
        }))
        const bottom = ref()
        const loadingMore = ref(false)
        let hasMore = false
        
        async function update() {
            request.value.skip = 0
            request.value.take = 50
            api.value = await client.api(request.value)
            if (api.value.succeeded) {
                results.value = api.value.response?.results || []
                hasMore = results.value.length === request.value.take
            }
        }
        
        const artifactsMap = ref({})
        
        watch([apiAlbums], async () => {
            const albumIds = topAlbums.value.map(getAlbumCoverArtifactId)
            console.log(`watch([apiAlbums])`, albumIds)
            await swr.api(new QueryArtifacts({ ids:albumIds }), r => apiArtifacts.value = r)
        })
        watch([apiArtifacts], async () => {
            const artifacts = apiArtifacts.value.response?.results || []
            console.log(`watch([apiArtifacts])`, artifacts)
            artifacts.forEach(artifact => {
                artifactsMap.value[artifact.id] = artifact
            })
            //notifyApiResult(apiArtifacts)
        })
        
        function albumCover(album) {
            return artifactsMap.value[getAlbumCoverArtifactId(album)]
        }
        
        async function loadMore() {
            console.log('load more...', hasMore)
            if (hasMore) {
                request.value.skip += request.value.take
                request.value.take = 100
                loadingMore.value = true
                api.value = await client.api(request.value)
                loadingMore.value = false
                if (api.value.succeeded) {
                    const moreResults = api.value.response?.results || []
                    results.value.push(...moreResults)
                    hasMore = moreResults.length === request.value.take
                }
            }
        }
        
        let observer = null
        
        onMounted(async () => {            
            await Promise.all([
                swr.api(request.value, r => {
                    api.value = r
                    results.value = r.response?.results || []
                    hasMore = results.value.length === request.value.take
                }), 
                await swr.api(new AnonData(), r => apiAlbums.value = r)
            ])
            setTimeout(() => {
                observer = new IntersectionObserver(
                    ([{isIntersecting, target}]) => { 
                        if (isIntersecting) loadMore() 
                    }, { threshold: 1.0 })
                observer.observe(bottom.value)
            }, 1000)
        })
        onUnmounted(() => observer.unobserve())
        
        return { 
            request, api, apiArtifacts, topAlbums, results, update, albumCover, bottom, loadingMore,
        }
    }
}

mount('#search', Search, { })
</script>