@page "/latest_{Page}"
@model LatestModel
@inherits ServiceStack.Mvc.RazorPage

@implements IRenderStaticWithPath<LatestModel>
@functions
{
    public List<LatestModel> GetStaticProps(RenderContext ctx)
    {
        var userState = ctx.Resolve<UserState>();
        var to = new List<LatestModel>();
        var totalArtifacts = userState.TotalArtifacts.GetValueOrDefault(); 
        if (totalArtifacts > 0)
        {
            int pages = (int)Math.Ceiling(userState.TotalArtifacts!.Value / (double)UserState.StaticTake);
            for (var page = 1; page < pages; page++)
            {
                var scopePage = page + 1;
                to.Add(new LatestModel { Page = scopePage });
            }
        }
        return to;
    }

    public string? GetStaticPath(LatestModel model)
    {
        return model.Page > 1
            ? model.GetLatestRoute(model.Page) + ".html"
            : null;
    }
}

@{
    if (Model.Gateway == null)
    {
        await Model.OnGetAsync();
    }
}

<div id="albums" class="mx-auto px-6 lg:px-8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-5xl font-semibold tracking-tight text-slate-50 sm:text-6xl">Latest Images</h1>
    </div>
    
    @await Html.PartialAsync("LatestNav", Model)
    @await Html.PartialAsync("Gallery", Model.GalleryResults)
    @await Html.PartialAsync("LatestNav", Model)
</div>