@page "/latest"
@model LatestModel
@inherits ServiceStack.Mvc.RazorPage

@implements IRenderStatic<LatestModel>
@functions
{
    public List<LatestModel> GetStaticProps(RenderContext ctx)
    {
        return new(){ new LatestModel() };
    }
}

<div id="albums" class="mx-auto px-6 lg:px-8">
    <div class="mb-8 mx-auto max-w-2xl text-center">
        <h1 class="max-w-4xl font-display text-4xl font-semibold tracking-tight text-slate-50 sm:text-5xl lg:text-6xl">Latest Images</h1>
    </div>
    
    @await Html.PartialAsync("LatestNav", Model)
    @await Html.PartialAsync("Gallery", Model.GalleryResults)
    @await Html.PartialAsync("LatestNav", Model)
</div>
